{% extends 'chat/chatbase.html' %}

{% block title%}Chat - rooms{% endblock %}

{% block page_header %}
<h1 >Room index</h1 >
{% endblock %}

{% block content %}
<ul class='posts' >
	{% for room in rooms %}
	<li class='post' >
	<div class="post-author" ><a class='post-author' href='{{  room[1][0] }}' >{{ room[0] }}</a></div>
		<div class="post-content" >
        		{% for l in room[1][1].split('\n') %}
        		<p class='post-context' >{{ l }}</p>
        		{% endfor %}
       		</div>
   	</li>
    	{% endfor %}
</ul>
<div>
	<p class='time'>If you want to create a room,</p>
	<p class='time'>click<a href="{{  url_for('chat.regist')  }}"> Here </a>to create a room</p>
</div>
{% endblock %}
