<!DOCTYPE html>
<html lang='en'>
	{% block htmls %}
	<head>
		{% block header %}
		<title>{% block title %}Jeef’s website{% endblock title %}</title>
		{% block style %}
		<link rel='shorcut icon' href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
		<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
		<link rel='stylesheet' type='text/css' href='/static/base.css' />
		{% endblock style %}
		{% endblock header %}
	</head>
	<body>
		{% block body %}
		{% block navbar %}
		<div class='navbar'>
			<a class='home' href='/'>Jeefy</a>
			<a class='title' href='/study'>Study</a>	
		</div>
		{% endblock navbar %}
		<div class="page-header">
		{% block page_header %}
		{% endblock page_header%}
		</div>
		{% block content %}
		<div>
        		{% for name,path in pkgs.items() %}
				<ul class='nodec'><a class='pkg' href='/downloading/{{ path }}'>{{ name }}</a></ul>
        		{% endfor %}
	 		{% for filen,fpath in dirs.items() %}
	 			<ul class='nodec'><a class='pkg' href='/download/{{ fpath }}'>{{ filen }}</a></ul>
		 	{% endfor %}
		</div>
		{% endblock content %}
		{% endblock body%}
		{% block scripts %}
		<script src="{{ bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
		<script src="{{ bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap') }}"></script>
		{% endblock scripts %}
	</body>
{% endblock htmls %}
</html>
